
.sec
{
    position: relative;
    padding: 100px;
    background: #1c0522;

}
.sec2
{
    position: relative;
    padding: 10px;
    background: #1c0522;

}
.sec h2
{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}
.sec p
{
    font-size: 2.8em; 
    color: #fff;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 2.1em;
    min-width: 600px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    color: white;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5en;
    z-index: 8;
    transform: translateY(100px);
    margin-right: 45px;
    margin-bottom: 10px;
}